{% extends "layout.html" %}

{% block content %}

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a GIS Specialist, I enjoy most of my time being outdoors. I enjoy hiking, kayaking, and camping.</p>
        <p class="mb-0">When forced indoors, I like to read books on history, geography, or philosophy. I also enjoy cooking with my fiance.</p>
    </div>
</section>
<hr class="m-0" />

{% endblock %}
