{% extends "layout.html" %}

{% block content %}

<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Honor Societies</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                High School Diploma from Crossville High School
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Associates Degree in Social Studies at Snead State Community College
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Bachelor's Degree in History at Jacksonville State University
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Winner of Short Story Contest at Northeast Community College
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>nd</sup>
                History Honor Society
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Phi Kappa Theta
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                3
                <sup>rd</sup>
                Sigma Kappa Delta
            </li>
        </ul>
    </div>
</section>
</div>

{% endblock %}
