{% extends "layout.html" %}

{% block content %}

<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Part-time Custodian</h3>
                <div class="subheading mb-3">Snead State Community College</div>
                <p>Skills developed: Properly cleaning office spaces, classrooms, and restrooms.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2020 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Guest Services and Facilitator</h3>
                <div class="subheading mb-3">The Alabama Constitutional Hall, The Hunstville Historic Depot, and Earlyworks Children’s Museum</div>
                <p>Skills developed: Relations to the public, a knowledge of the history of Huntsville, handling money, conducted research on Albert Russel Erskine for the Historic Depot and how to run a museum during a pandemic.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2020 - August 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Volunteer Archivist</h3>
                <div class="subheading mb-3">U.S. Space and Rocket Center</div>
                <p>Skills developed: Handling documents, reviewing documents, preserving artifacts, and archiving research of NASA scientists onto a database.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2019 - November 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Cartography Intern</h3>
                <div class="subheading mb-3">Datakata</div>
                <p>Collaboratively developing a map for the Raise Your Hand Project.
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2021 - Present</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}
